.avatar-logo {
    display: none;
    width: 48px;
    height: 48px;

}
.avatar-logo--desktop {
    display: block;
    width: 48px;
    height: 48px;
}


.avatar-image {
    width: 48px;
    height: 48px;
    position: absolute;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .avatar-logo {
        display: block;
    }

    .avatar-logo--desktop {
        display: none;
    }
}
