.progress-container:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    line-height:1em;
}

.progress-container {
    text-align: center;
    position: relative;
}